@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

nav.nav-mobile {
  display: none;
}

/* NAVBAR */
nav {
  display: grid;
  grid-template-areas: "logo wrap wrap wrap wrap";
  height: 90px;
  padding: 5px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  font-family: "Open Sans";
  top: 0;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-weight: 700;
  color: white;
}

.nav-wrap {
  width: 100vw;
  display: flex;
  grid-area: wrap;
  justify-content: space-between;
}

.logo {
  grid-area: logo;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  grid-area: menu;
}

.auth {
  display: flex;
  width: 100vw;
  grid-area: auth;
  justify-content: end;
  padding-right: 5rem;
  margin-right: 100px;
  gap: 20px;
}

.btn-auth {
  color: white;
  border: none;
  background-color: transparent;
  font-weight: inherit;
}

/* HEADER (screen 1) */
.hero {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/bg-screen-1.png");
  background-size: cover;
  width: 100vw;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  width: 100vw;
  top: 0;
  height: 960px;
  position: absolute;
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(255, 181, 72, 0) 0%,
    rgba(52, 44, 29, 0.8) 73.22%,
    #08090a 99.74%
  );
}

.hero h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 82.79px;
  letter-spacing: 3px;
  text-align: center;
}
.hero h3 {
  margin-top: 24px;
  font-weight: 400;
  color: white;
  z-index: 10;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.btn-hero {
  margin-top: 30px;
  width: 260px;
  height: 60px;
  background: rgb(255, 181, 72);
  background: linear-gradient(
    180deg,
    rgba(255, 181, 72, 1) 0%,
    rgba(243, 175, 52, 1) 30%
  );
  border: none;
  font-size: 16px;
  text-align: center;
  line-height: 21.79px;
  font-weight: bold;
  font-family: "Open Sans";
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.btn-hero-next {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  z-index: 10;
  background-color: transparent;
  color: white;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-hero-next a {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn-hero-next img {
  width: 20.25px;
}

/* article (screen 2) -THE GAME */
.the-game {
  height: 987px;
  width: 100vw;
  display: grid;
  grid-template-areas: "word word  word picture picture picture";
  background-image: url("../assets/bg-screen-2.png");
  background-size: cover;

  position: relative;
}

.the-game::after {
  content: "";
  width: 100vw;
  top: 0;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}

.the-game .word-wrapper {
  position: relative;
  z-index: 10;
  grid-area: word;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 180px;
}
.the-game .word-wrapper h3 {
  font-size: 24px;
  line-height: 27.6px;
  letter-spacing: 2px;
  font-weight: 400;
}
.the-game .word-wrapper h1 {
  font-size: 56px;
  line-height: 64.39px;
  letter-spacing: 3px;
  font-weight: 400;
}

.the-game .image-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  grid-area: picture;
  gap: 10px;
}

.the-game .image-wrapper .card-image {
  position: relative;
}

.the-game .image-wrapper .carousel-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-game .image-wrapper .carousel-indicator {
  width: 14px;
  height: 14px;
  background-color: white;
  margin: 0px 20px 0px 20px;
  border-radius: 100%;
}
.the-game .image-wrapper .carousel-indicator-off {
  width: 14px;
  height: 14px;
  margin: 0px 20px 0px 20px;
  border: 2px solid white;
  border-radius: 100%;
}

/* article (screen 3) -FEATURE */
.feature {
  height: 987px;
  width: 100vw;
  display: grid;
  grid-template-areas: "picture picture picture picture picture picture picture picture word";
  background-image: url("../assets/bg-screen-3.png");
  background-size: cover;
  height: 960px;
  position: relative;
  width: 100vw;
}

.feature::after {
  content: "";
  width: 100vw;
  top: 0;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    81.01% 53.57% at 30.85% 53.65%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 19.2%,
    rgba(4, 5, 6, 0.52) 47.48%,
    #080a0b 99.74%
  );
}

.feature .feature-content {
  display: flex;
  flex-direction: column;
  grid-area: word;
  z-index: 10;
  position: relative;
  color: white;
  width: 100vw;
  margin-top: 200px;
}

.feature .feature-content .content-title {
  font-family: Arial, Helvetica, sans-serif;
}

.feature .feature-content .content-title h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 22px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.feature .feature-content .content-title h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64.39px;
  letter-spacing: 3px;
}

.feature .feature-content .content-list h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffb548;
  line-height: 27.6px;
  font-weight: 400;
  letter-spacing: 2px;
}

.feature .feature-content .content-list p {
  font-family: "Open sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.feature .feature-content .content-container {
  display: grid;
  grid-template-areas: "indicator list list list list list";
  margin-top: 60px;
}

.feature .feature-content .content-container .list-wrapper {
  grid-area: indicator;
  margin-top: 5px;
}

.feature .feature-content .content-container .content-list {
  grid-area: list;
  width: 50%;
}

.feature .feature-content .content-container .content-list ul li {
  margin-bottom: 50px;
  font-weight: 400;
}

.feature .feature-content .content-container .content-list ul li h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.feature .feature-content .content-container .content-list ul li p {
  font-family: "Open Sans";
  font-size: 18px;
}

.feature .feature-content .content-container .list-wrapper .list-indicator {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 100%;
}

.feature
  .feature-content
  .content-container
  .list-wrapper
  .list-indicator-off-one {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 120px;
}

.feature
  .feature-content
  .content-container
  .list-wrapper
  .list-indicator-off-two {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 62px;
}

.feature .feature-content .content-container .list-wrapper hr {
  width: 2px;
  height: 135px;
  border: none;
  margin-left: 6px;
  position: absolute;
  background-color: white;
}

/* article (screen 4) -SYSTEM */
.system {
  height: 987px;
  width: 100vw;
  background-image: url("../assets/bg-screen-4.png");
  background-size: cover;
  height: 960px;
  position: relative;
}

.system::after {
  content: "";
  width: 100vw;
  top: 0;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    50% 49.23% at 64.32% 47.1%,
    rgba(255, 255, 255, 0) 3.36%,
    rgba(0, 0, 0, 0) 19.22%,
    #080a0b 99.74%
  );
}

.system > h4 {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  padding-top: 100px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.system h1 {
  position: relative;
  z-index: 10;
  padding-top: 40px;
  color: #fff;
  font-family: Arial;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.system .content-container {
  position: relative;
  z-index: 10;
  margin: 10px 131px;
  width: 573px;
}

.system .content-container h1 {
  margin-bottom: 30px;
}

.system .content-wrapper {
  position: relative;
  z-index: 10;
  width: 50%;
  height: 100%;
}

.system .content-wrapper h1 {
  color: white;
}

.system .content-container .content-wrapper .detail-wrapper .table-system {
  position: absolute;
  width: 100vw;
}

.system .content-container .content-wrapper .detail-wrapper .detail-system {
  position: relative;
  text-align: start;
  width: 573px;
  height: 400px;
  padding: 0px 0px 20px 10px;
}

.system .content-container .content-wrapper .detail-wrapper .detail-system h4 {
  color: #ffb548;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.system .content-container .content-wrapper .detail-wrapper .detail-system p {
  color: #fff;
  font-family: "Open sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* article (screen 5) -SCORE */
.score {
  background-color: black;
  height: 987px;
  width: 100vw;
  display: grid;
  grid-template-areas: "title card";
  background-image: url("../assets/bg-screen-5.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 960px;
  position: relative;
}

.score::after {
  content: "";
  width: 100vw;
  top: 0;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    38.04% 77.62% at 24.21% 47.47%,
    rgba(35, 15, 15, 0) 0%,
    rgba(0, 0, 0, 0) 51.1%,
    #080a0b 99.74%
  );
}

.score .score-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: title;
  position: relative;
  color: white;
  z-index: 10;
  align-items: center;
}

.score .score-title .score-title-card {
  width: 410px;
}

.score .score-title h1 {
  color: #fff;
  font-family: Arial;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.score .score-title h4 {
  color: #fff;
  font-family: "Open sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

.score .score-title .score-title-card button {
  width: 260.362px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  margin-top: 30px;
  color: #1a1917;
  text-align: center;
  font-family: "Open sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
}

.score-card-container {
  grid-area: card;
  position: relative;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: fit-content;
}

.score-card-container .card-odd {
  padding-left: 150px;
}

.score-card-container .score-card {
  width: 452.59px;
  height: 182.938px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  position: relative;
}

.score-card-container .score-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.score-card-container .score-card .card-header img {
  border-radius: 100%;
  position: absolute;
  z-index: 10;
}

.score-card-container .score-card .card-header svg {
  margin: 7px;
  border-radius: 100%;
  position: relative;
}

.score-card-container .score-card .card-header .card-player {
  display: flex;
  align-items: center;
}

.score-card-container .score-card .card-header .card-player .card-data h4 {
  color: #ffb548;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.score-card-container .score-card .card-header .card-player .card-data p {
  color: #fff;
  text-align: justify;
  font-family: "Open sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

.score-card-container .score-card .card-testimony h4 {
  color: #fff;
  font-family: "Open sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.score-card-container .score-card .card-testimony p {
  color: #fff;
  font-family: "Open sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.5;
  line-height: normal;
  margin-top: 5px;
}
/* article (screen 6) -SUBSCRIBE */
.subscribe {
  width: 100vw;
  height: 960px;
  flex-shrink: 0;
  display: grid;
  grid-template-areas: "picture word";
  background-color: black;
}

.subscribe .subscribe-picture {
  grid-area: picture;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe .subscribe-picture .picture {
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.subscribe .subscribe-picture .picture::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 70%,
    rgb(0, 0, 0) 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.subscribe .subscribe-picture .picture img {
  width: 445.466px;
  height: 694.408px;
  flex-shrink: 0;
  border-radius: 50%;
  display: block;
}

.subscribe .word-container {
  grid-area: word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.subscribe .word-container .word-ask h4 {
  width: 261.565px;
  flex-shrink: 0;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

.subscribe .word-container .word-title h1 {
  flex-shrink: 0;
  color: #fff;
  font-family: Arial;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subscribe .word-container .word-main p {
  width: 644.959px;
  height: 136.569px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Open sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}

.subscribe .word-container .word-main .word-action {
  margin-top: 50px;
}

.subscribe .word-container .word-action .word-action-input {
  display: flex;
  flex-direction: column;
  width: 366.922px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #262626;
  padding: 5px 10px;
  gap: 5px;
}

.subscribe .word-container .word-action .word-action-input input {
  background: rgba(255, 255, 255, 0);
  border: none;
  height: 100%;
}

.subscribe .word-container .word-action .word-action-input label {
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 177.945px;
  opacity: 0.5;
}

.subscribe .word-container .word-action button {
  width: 260px;
  height: 60.251px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  border: none;
  color: #1a1917;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  margin-left: 20px;
}

.subscribe .word-container .word-action {
  display: flex;
}

/* FOOTER */
footer {
  width: 100vw;
  height: 233px;
  flex-shrink: 0;
  background-color: black;
  padding: 10px 70px;
  display: grid;
  grid-template-areas:
    "access"
    "credit";
}

footer .access-container {
  display: flex;
  justify-content: end;
}

footer .access {
  width: 70%;
  color: white;
  display: flex;
  grid-area: access;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: right;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

footer .credit {
  grid-area: credit;
  border-top: 2px solid #fff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: right;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

/* RESET MOBILE SIZE */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: white;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}
